#loadingbar {
	position: fixed;
	top: 0;
	z-index: 2147483647;
	height: 2px;
	background: #b91f1f;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px; 
}

#loadingbar:after {
	box-shadow: 0 0 4px 0px #b91f1f;
	content: " ";
	background-color: #b91f1f;
	display: inline-block;
	opacity: 0.6;
}

#loadingbar.right:after, #loadingbar.done-right:after {
	float: right;
	height: 2px;
	width: 10px;
}

#loadingbar.left:after, #loadingbar.done-left:after {
	float: left;
	height: 2px;
	width: 10px;
}

#loadingbar.up:after, #loadingbar.done-up:after {
	height: 10px;
	width: 2px;
	position: absolute;
	top: 0;
}

#loadingbar.down:after, #loadingbar.done-down:after {
	float: right;
	height: 10px;
	width: 2px;
	position: absolute;
	bottom: 0;
}

#loadingbar.before-right {
	left: 0px;
	width: 0;
}

#loadingbar.before-left {
	right: 0px;
	width: 0;
}

#loadingbar.before-up {
	left: 0px;
	top: 100%;
	width: 2px;
	bottom: 0px;
	height: 0%;
}

#loadingbar.before-down {
	left: 0;
	width: 2px;
	height: 0;
	top: 0;
}

#loadingbar.right {
	left: 0px;
	width: 100%;
}

#loadingbar.left {
	right: 0px;
	width: 100%;
}

#loadingbar.up {
	left: 0px;
	top: 0%;
	width: 2px;
	bottom: 100px;
	height: 100%;
}

#loadingbar.down {
	left: 0;
	width: 2px;
	height: 100%;
	top: 0;
}

#loadingbar.right, #loadingbar.left,
#loadingbar.up, #loadingbar.down {
	-moz-transition: all 10s cubic-bezier(0.0, 1.0, 1.0, 1.0);
	-ms-transition: all 10s cubic-bezier(0.0, 1.0, 1.0, 1.0);
	-o-transition: all 10s cubic-bezier(0.0, 1.0, 1.0, 1.0);
	-webkit-transition: all 10s cubic-bezier(0.0, 1.0, 1.0, 1.0);
	transition: all 10s cubic-bezier(0.0, 1.0, 1.0, 1.0);
}

#loadingbar.done-right {
	left: 0px;
	width: 101%;
}

#loadingbar.done-left {
	right: 0px;
	width: 101%;
}

#loadingbar.done-up {
	left: 0px;
	top: 0%;
	width: 2px;
	height: 101%;
}

#loadingbar.done-down {
	left: 0;
	width: 2px;
	height: 101%;
}

#loadingbar.done-right, #loadingbar.done-left,
#loadingbar.done-up, #loadingbar.done-down {
	opacity: 0;
	-moz-transition: all 0.5s ease-in, opacity 0.5s 0.7s cubic-bezier(0.0, 1.0, 1.0, 1.0);
	-ms-transition: all 0.5s ease-in, opacity 0.5s 0.7s cubic-bezier(0.0, 1.0, 1.0, 1.0);
	-o-transition: all 0.5s ease-in, opacity 0.5s 0.7s cubic-bezier(0.0, 1.0, 1.0, 1.0);
	-webkit-transition: all 0.5s ease-in, opacity 0.5s 0.7s cubic-bezier(0.0, 1.0, 1.0, 1.0);
	transition: all 0.5s ease-in, opacity 0.5s 0.7s cubic-bezier(0.0, 1.0, 1.0, 1.0);
}
